@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo:wght@400;700&display=swap');



body {
    overflow-x: hidden;
    font-family: "Caprasimo", serif;
}
.fundos {
    height: 100vh;
    font-size: 60px;
}
.telas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 60px;
}

.pintura1 {
    background-image: url(../assets/pintura_01.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
}
.pintura2 {
    background-image: url(../assets/pintura_02_duotone.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    transform: scale(0.5);
}
.pintura3 {
    background-image: url(../assets/pintura_03_detalhe.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
}
.pintura4 {
    background-image: url(../assets/pintura_03_editada_01.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
}
.pintura5 {
    background-image: url(../assets/pintura_03_editada_02.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
}
.pintura6 {
    background-image: url(../assets/pintura_03_original.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
}
.pintura7 {
    background-image: url(../assets/pintura_03_final.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
}
.pintura8 {
    background-image: url(../assets/pintura_04.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
}
